body {
  background-color: beige;
  font-family: 'Montserrat', sans-serif;
  padding: 40px;
}
.wrapper {
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  margin: 0 auto;
  width: 1100px;
  height:1319px;
  
  
}
/* main-content */
.main-content {
  padding: 88px;
  background-color: rgb(248, 248, 230);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.lang{
  position:absolute;
  top:50px;
  right:120px;
  width:38px;
  height: 70px;
  background-color: gray;
  padding: 2px;
}

.main-content-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  line-height: 100%;
   margin: 0 0 8px 0;
}
/* about me */
.about-me-container{
margin-bottom: 44px;
}
.my-profession {
  font-weight: bold;
  font-weight: 700;
  font-size: 25px;
  line-height: 100%;
  margin-bottom: 18px;
}
span.my-profession-remark{
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
}
.my-name {
  font-weight: bold;
  font-weight: 700;
  font-size: 45px;
  line-height: 54px;
  margin:40px 0 40px 0;
}
.project-list{
  padding: 0 0 0 12px;
  margin:0;
}
.project-container{
margin: 0 0 48px 0;
}
.project-item {
  font-weight: bold;
  font-weight: 700;
  background-color: rgb(236, 236, 173);
  Font-size: 14px;
  Line-height: 24px;
}
.project-item-descr{
  Font-size: 14px;
  Line-height: 24px;
  color:rgba(89, 89, 89, 1);
}
.project-item-link{  
    Font-size: 14px;
    Line-height: 24px;
    color: rgba(0, 95, 255, 1);
    text-decoration: underline;
}
.my-descr {
  width: 625px;
  height: 56px;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
}
.work-experiens-container {  
  margin-bottom: 34px;
}
.work-experiens-position{
  font-weight: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
.work-experiens-place{
  margin-bottom:16px;
}
span.work-experiens-company{
  color:rgba(109, 155, 245, 1);
}
.work-period{
  font-weight: 400;
font-Size:12px;
color:rgba(168, 168, 168, 1);
margin: 12px 0 8px 0;
}
.work-duties-list{
padding: 0 0 0 14px;
margin:0;
}
.work-duties{
  font-weight: 400;
  font-Size:14px;
  Line-height: 24px;
  Line-height: 141%;
  color:rgba(89, 89, 89, 1);
}
.education-container{
  margin-bottom: 44px;
}
.education-title{
  font-weight: bold;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 12px;
}
.education-period-form{
  font-Size:12px;
  Line-height: 16px;
  margin: 12px;
}
/* sidebar */
.sidebar {
  width: 300px;
  background-color: rgba(224, 235, 254, 1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.my-photo {
  margin: 40px;
  border-radius: 5px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.6) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.contacts-container,
.tech-skills-container {
  margin: 48px 0px 0px 20px;
}
.contact-tel {
  font-size: 12px;
  color: rgba(22, 29, 42, 1);
}
.contact-email {
  font-size: 12px;
  color: rgba(41, 121, 255, 1);
}
/* sidebar-title */
.sidebar-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  text-align: Left;
  color: rgba(22, 29, 42, 1);
  margin-bottom: 8px;
}
.contacts-type {
  font-weight: bold;
  font-size: 14px;
  margin-right: 4px;
}
.contacts-item {
  margin: 0;
}
.skills-list {
  padding: 0px 0px 0px 12px;
}
.skills-list-item {
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  text-align: Left;
}
